@{
    Layout = "_Layout";

    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-danger text-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="~/images/FlightLogo.png" class="img-fluid bg-white" width="40" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link @(controller == "Home" && action == "Dashboard" ? "active" : "")" asp-area="Admin" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link @(controller == "Users" && action == "Manage" ? "active" : "")" asp-area="Admin" asp-controller="Users" asp-action="Manage">Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link @(controller == "Users" && action == "RightObligations" ? "active" : "")" asp-area="Admin" asp-controller="Users" asp-action="RightObligations">Rights & Obligations</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Home" ? "active" : "")"
                           asp-area="" asp-controller="Home" asp-action="Index">View Site</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="pt-5">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }
</div>
<main>
    @RenderBody()
</main>

